$deathColor: rgb(0, 0, 0);
$peaceColor: rgb(255, 255, 255);

$darkSea: rgb(1, 2, 71);
$sea: rgb(1, 4, 192);
$lightSea: rgb(38, 40, 168);
$extraLightSea: rgb(108, 115, 209);
$extraExtraLightSea: rgb(146, 151, 224);

$darkFlower:rgb(168, 0, 132);
$flower: rgb(255, 0, 200);
$lightFlower: rgb(253, 59, 211);
$extraLightFlower:rgb(252, 97, 218);
$extraExtraLightFlower:rgb(255, 160, 234)